{:paths   ["src" "resources" "server"]

 :deps    {org.clojure/clojure                      {:mvn/version "1.11.1"}
           org.clojure/core.async                   {:mvn/version "1.5.648"}
           org.clojure/data.csv                     {:mvn/version "1.0.1"}
           org.clojure/tools.logging                {:mvn/version "1.2.4"}

           clj-http/clj-http                        {:mvn/version "3.12.3"}
           ;     jakarta.xml.bind/jakarta.xml.bind-api {:mvn/version "3.0.1"}
           com.taoensso/nippy                       {:mvn/version "3.1.1"}

           org.apache.lucene/lucene-core            {:mvn/version "9.1.0"}
           org.apache.lucene/lucene-queries         {:mvn/version "9.1.0"}
           org.apache.lucene/lucene-backward-codecs {:mvn/version "9.1.0"}
           geocoordinates/geocoordinates            {:mvn/version "0.1.0"}}

 :aliases {:build {:deps       {io.github.clojure/tools.build {:git/tag "v0.8.2" :git/sha "ba1a2bf"}
                                slipset/deps-deploy           {:mvn/version "RELEASE"}}
                   :ns-default build}

           :serve
           {:extra-paths ["serve"]
            :extra-deps  {io.pedestal/pedestal.service   {:mvn/version "0.5.10"}
                          io.pedestal/pedestal.jetty     {:mvn/version "0.5.10"}
                          ch.qos.logback/logback-classic {:mvn/version "1.2.11"}}
            :main-opts   ["-m" "com.eldrix.nhspd.serve"]}

           :download
           {:extra-deps {ch.qos.logback/logback-classic {:mvn/version "1.2.11"}}
            :main-opts  ["-m" "com.eldrix.nhspd.core"]}


           :test
           {:extra-paths ["test" "test/resources"]
            :extra-deps  {com.cognitect/test-runner
                          {:git/url "https://github.com/cognitect-labs/test-runner.git"
                           :sha     "a85b3b02765fb68684ab9ee4a8598eacf7e471d2"}}
            :main-opts   ["-e" "(compile,'com.eldrix.nhspd.core)"
                          "-m" "cognitect.test-runner"
                          "-d" "test"]}

           :outdated
           {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
            :main-opts  ["-m" "antq.core"]}

           :upgrade
           {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
            :main-opts  ["-m" "antq.core" "--upgrade"]}

           :check
           {:extra-deps {athos/clj-check
                         {:git/url "https://github.com/athos/clj-check.git"
                          :sha     "518d5a1cbfcd7c952f548e6dbfcb9a4a5faf9062"}}
            :main-opts  ["-m" "clj-check.check"]}

           :test/cloverage
           {:extra-paths ["test"]
            :extra-deps  {cloverage/cloverage {:mvn/version "RELEASE"}}
            :main-opts   ["-m" "cloverage.coverage"
                          "--src-ns-path" "src"
                          "--test-ns-path" "test"]
            :exec-fn     cloverage.coverage/run-project
            :exec-args   {:src-ns-path  ["src"]
                          :test-ns-path ["test"]}}

           :lint/kondo
           {:extra-deps {clj-kondo/clj-kondo {:mvn/version "RELEASE"}}
            :main-opts  ["-m" "clj-kondo.main" "--lint" "src"]}

           :lint/eastwood
           {:main-opts  ["-m" "eastwood.lint" {:source-paths ["src"]}]
            :extra-deps {jonase/eastwood {:mvn/version "RELEASE"}}}}}
